$foundation-palette: (
        primary: black,
        secondary: whitesmoke,
        success: #3adb76,
        warning: #ffae00,
        alert: #cc4b37,
);
//normal
$primary-color: black;
$secondary-color: whitesmoke;
//new
$logo-color: #3835ff;
$navLink-color: #656d78;
$sectionH1-color: #48cfad;
$mainPara-color: #ed5565;
$btnBg-color: #fc6e51;
$sectionPara-color: #656d78;
$skillsCard-color: #4fc1e9;
$skillsH3-color: #3c3b3d;
$inputBorder-color: #656d78;
$profileBg-color: #e0e9f2;
$modalH1-color: #fc6e51;
$facebookBg-color: #3b5999;
$twitterBg-color: #55acee;
$instagramBg-color: #e3305f;


@import "foundation";

@media screen and (max-width: 1300px) and (min-width: 1025px) {
  header .logo {
    margin-right: 0 !important;
    margin-left: 2rem;
  }
  header nav li {
    margin-right: 10px;
  }
  .skills-card div {
    padding: 4px 3px;
    margin: 5px 3px;
  }
  .container .wrapper .content-side {
    padding-left: 0;
  }
  .links {
    display: none;
  }
  .container .wrapper {
    grid-template-columns: 1.5fr 1fr;
  }
  .assets-side {
    grid-template-columns: 2.5fr 0;
  }
  .links-responsive {
    display: block;
  }
  .about, .contact, .skills {
    margin: 4rem 0 0 2rem;
  }
}


@media handheld, only screen and (max-width: 1025px) { // MEDIUM
  //----------------------------------------------------------------------------------------------------------------------
  .info-responsive {
    a {
      margin: 0 1rem 0.2rem 0;
    }
  }

  //aminatie h1
  .main h1 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .rolling-text {
    letter-spacing: 0.2rem;
  }

  Header {
    Position: sticky;
    Top: 0;

    .desktopNav {
      display: none;
    }
  }
  .mobileIpadNav {
    height: 10vh;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    display: block;
  }

  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;

    li {
      font-size: 1.3rem;
      line-height: 70px;

      a {
        text-decoration: none;
        color: #656d78;
      }

      .logo {
        font-size: 2rem;
        font-weight: 600;
        line-height: 70px;
        color: $logo-color;
        cursor: pointer;
      }
    }

  }

  @media screen and (max-width: 860px) and (min-width: 638px) {
    .info-responsive {
      a {
        margin: 0 0.5rem 1rem 0;
      }
    }
    .rolling-text {
      letter-spacing: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .main p {
      font-size: 1.3rem;
    }
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;

      .line {
        width: 30px;
        height: 3px;
        background: $mainPara-color;
        margin: 5px;
      }
    }
    .nav-links {
      /*position: fixed;*/
      background: $sectionH1-color;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;

      li {
        opacity: 0;

        a {
          font-size: 25px;
        }
      }
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    li.fade {
      opacity: 1;
    }
  }
  //----------------------------------------------------------------------------------------------------------------------


  .container {
    height: 100%;
  }

  //one page portfolio website
  .container .wrapper {
    display: block;
    grid-template-columns: 0;
  }

  //asset side pf image
  .assets-side {
    display: none;
  }

  .assets-sideMobile {
    display: block;

    img {
      border-radius: 50%;
      height: 50vh;
      background-color: transparent;
      box-shadow: 0px 0px 5px 1px rgba(158, 158, 158, 0.68);
    }
  }


  // dat ze static zijn dus niet op elkaar en in elkaar----------------------------------------------------------------------------------------/
  .about {
    p {
      max-width: 100%;
    }
  }
  .skills {
    .skills-text {
      max-width: 100%;
    }
  }
  .about, .contact, .skills {
    margin: 4rem 0 0 1rem;
    position: static;
    display: block;
  }
  .skills {
    margin-left: 3rem;
  }
  .contact {
    margin-right: 3rem;
  }
  form {
    max-width: 100%;
    width: 100%;
  }
  .container .wrapper .content-side {
    padding-left: 0;
  }
  .main {
    margin: 10rem 0 0 0;
    position: static;

    .links-responsive {
      display: flex;
      margin-top: 3rem;

      .facebook, .twitter, .instagram {
        text-align: center;
        height: 3.5rem;
        padding: 6px;

        a {
          font-size: 1.5rem;
          color: $secondary-color;
          padding: 0;
          width: 100%;
        }
      }

      .facebook {
        background-color: $facebookBg-color;

        a {
          background-color: transparent;
        }
      }

      .instagram {
        background-color: $instagramBg-color;

        a {
          background-color: transparent;
        }
      }

      .twitter {
        background-color: $twitterBg-color;

        a {
          background-color: transparent;
        }
      }
    }
  }

  //andere sub pagina's -----------------------------------------------------------------------------------------------------------------------//
  //hobbys page
  .voetbal {
    margin: 1rem 0;

    h2 {
      text-align: center;
    }
  }


  //open modal mobile
  .open-modal {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 0;
    left: 0;
    font-size: 2rem;
    z-index: 99;
    position: fixed;
  }
  .menu .button, .menu a {
    margin: 0.7rem 1rem;
    padding: 0;
  }

  //hobbys page responsive
  .hobbys-section .sport h2 {
    font-size: 1.5rem;
  }
  .new-design h1 {
    font-size: 28px;
  }

  .freerunnen {
    margin: 1rem 0;

    p {
      text-align: start;
    }
  }

  //projecten responsive
  .btn {
    padding: 10px 6px;
  }

}


@media(max-width: 768px) {


  //header
  .assets-sideMobile {
    img {
      height: 38vh;
    }

  }

  .skills {
    .skills-text {
      text-align: start;
      font-size: 1.2rem;
    }
  }
  //about mobile-----------------------------------------------------------------------
  .about h1, .contact h1, .main h1, .skills h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .about h2, .contact h2, .main h2, .skills h2 {
    font-size: 1.4rem;
  }

  .about p {
    text-align: start;
    font-size: 1.2rem;
    //font-size: inherit;  //extra mooi kleine text
  }

  .about a, .contact button, .main a {
    font-size: 1.2rem;
  }
}

@media handheld, only screen and (max-width: 640px) { // SMALL
  .rolling-text {
    letter-spacing: 0;
  }


  header {
    .logo {
      margin-right: 0 !important; //
    }
  }
  .open-modal {
    left: -5%;
  }

  .info-responsive {
    text-align: center;
  }
  .img {
    margin-top: 2rem;
  }


  .about {
    margin-left: 0;
    margin-right: 0;
  }
  .skills {
    margin-left: 0;
    margin-right: 0;
	
  }
  
  .skills-card {
  	.scss, .boostrap  {
	margin: 0;
	}
	
	.javascript , .php {
	margin: 1px 30px;
	}
	.css , .foundation{
	margin: 1px 25px;
	}
  }
  
  .contact {
    margin-right: 0;
    margin-left: 0;
  }
  //hobyys page
  .single-hobbys {
    padding-left: 25px;
    padding-right: 25px;
  }
  .single-hobbys {
    header {
      Position: static;
    }
  }

  //contact-form modal---------------------------------------------------------------------------------------------
  .modal-content {
    width: 80%;
  }
  .modal-footer {
    padding: 3px 20px;

    h3 {
      font-size: 1.2rem;
      margin: 2px;
    }
  }

  .modal-header {
    h2 {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  //modalPlus

  .modalPlus .modal-contentPlus {
    padding: 0 10px;
    width: 80%;
  }
}