$foundation-palette: (
        primary: black,
        secondary: whitesmoke,
        success: #3adb76,
        warning: #ffae00,
        alert: #cc4b37,
);
//normal
$primary-color: black;
$secondary-color: whitesmoke;
//new
$logo-color: #3835ff;
$navLink-color: #656d78;
$sectionH1-color: #48cfad;
$mainPara-color: #ed5565;
$btnBg-color: #fc6e51;
$sectionPara-color: #656d78;
$skillsCard-color: #4fc1e9;
$skillsH3-color: #3c3b3d;
$inputBorder-color: #656d78;
$profileBg-color: #e0e9f2;
$modalH1-color: #fc6e51;
$facebookBg-color: #3b5999;
$twitterBg-color: #55acee;
$instagramBg-color: #e3305f;

//test
@import 'foundation';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
//dgdfgdg 
li {
  list-style: none;

  a {
    text-decoration: none;
    color: $navLink-color;
  }
}


.container {
  height: 100vh;

  .wrapper {
    display: grid;
    grid-template-columns: 1.2fr 1fr;

    .content-side {
      padding-left: 50px;
    }
  }
}

header, nav ul {
  display: flex;
  flex-wrap: wrap;
}

header {
  height: 70px;

  .desktopNav {
    display: flex;
  }

  .logo {
    margin-right: 80px !important;
    font-size: 2rem;
    font-weight: 600;
    line-height: 70px;
    color: $logo-color;
    cursor: pointer;
  }

  nav {
    li {
      margin-right: 20px;
      font-size: 1.3rem;
      line-height: 70px;
    }
  }
}

//sd
.mobileIpadNav {
  display: none;
}


.main {
  margin: 10rem 0 0 1rem;
  position: absolute;

  .links-responsive {
    display: none;
  }
}

.about, .skills, .contact {
  //padding: 100px 0 0 50px;
  margin: 2rem 0 0 1rem;
  position: absolute;
  display: none;
}

.info-responsive {
  a {
    margin: 0 3rem 0 0;
  }
}


.main h1, .about h1, .skills h1, .contact h1 {
  font-size: 2.2rem;
  color: $sectionH1-color;
}


.main h2, .about h2, .skills h2, .contact h2 {
  font-size: 1.6rem;
  color: $sectionH1-color;
}

h1:nth-child(2) {
  margin-bottom: 20px;
}

.main p {
  font-size: 1.5rem;
  color: $mainPara-color;
  //margin-bottom: 40px;
}

.main a,
.about a,
.contact button {
  color: $secondary-color;
  background-color: $btnBg-color;
  padding: 10px 30px;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 50px;
  box-shadow: 0 0.2rem .7rem rgba(248, 89, 89, .85);

}

.about h1,
.skills h1,
.contact h1 {
  margin-bottom: 20px;
}

.about p,
.skills > p {
  max-width: 50%;
  font-size: 1.3rem;
  color: $sectionPara-color;
  text-align: start;
}

.skills {
  .skills-text {
    max-width: 50%;
    font-size: 1.3rem;
    color: $sectionPara-color;
    text-align: start;

  }
}

.skills-card {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  max-width: 700px;

  div {
    border: 2px solid $skillsCard-color;
    padding: 10px;
    margin: 5px 5px;
    position: relative;
    z-index: 1;

    p {
      max-width: 100px;
      font-size: .9rem;
      margin-top: 10px;
      color: $sectionPara-color;
      font-weight: 600;
    }
  }

  div:after {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $skillsCard-color;
    z-index: -1;
    transition: .5s ease;
  }

  div:hover::after {
    height: 100%;
  }

  div:hover p {
    color: $secondary-color;
  }

  div:first-child {
    margin-left: 0;
  }


  img {
    width: 60px;
	height: 60px;
  }

  h3 {
    text-transform: uppercase;
    color: $skillsH3-color;
    margin-top: 10px;
    font-size: 0.95rem;
    font-weight: bold;
  }
}


form {
  max-width: 500px;
  width: 32rem;

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid $inputBorder-color;
  }

  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid $inputBorder-color;
  }

  button {
    border: none;
    cursor: pointer;
  }

  button:focus,
  input:focus,
  textarea:focus {
    outline: none;
  }
}

.main-animation {
  animation: animate 1s;
}

@keyframes animate {
  from {
    margin-top: 30px;
  }
  to {
    margin-top: 0;
  }
}

@-webkit-keyframes animate {
  from {
    margin-top: 30px;
  }
  to {
    margin-top: 0;
  }
}

//contact pagina modal pop up ---------------------------------------------------------------------------------------------------
/* The Modal (background) */


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 35vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content{
  border-radius: 200px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 55%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: $mainPara-color;
  text-decoration: none;
  cursor: pointer;
}

.modal-header{
  padding: 2px 16px;
  background-color: $sectionH1-color;
  color: white;
  h2{
    color: whitesmoke;
  }
  border-radius: 50px;
}
.modal-body {
	padding: 2px 16px;

.smiley {
	font-size: 3rem;
	text-align: center;
	}
	
}

	

.modal-footer {
  padding: 3px 16px;
  background-color: $sectionH1-color;
  color: white;
  h3{
    font-size: 1.4rem;
	a{
	color: white;
	}
	a:hover {
	color: blue;
	}
	
	
  }
  border-radius: 50px;
}
//einde contact-modal


//styling asside social media
.assets-sideMobile {
  display: none;
}

.assets-side {
  display: grid;
  grid-template-columns: 1fr .15fr;

  img {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .facebook, .twitter, .instagram {
    height: 33.06%;

  }

  .facebook {
    background-color: $facebookBg-color;
  }

  .instagram {
    background-color: $instagramBg-color;
  }

  .twitter {
    background-color: $twitterBg-color;
  }

  .links a {
    writing-mode: vertical-rl;
    font-size: 1.5rem;
    color: $secondary-color;
    height: calc(98% / 3);
    width: 100%;
    text-align: center;
    //padding-right: 30px;
    padding: 70px 23px 175px 0px;
  }
}


//modal styling pop up scherm=============================================================================================================
.open-modal {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f85959;
  box-shadow: 0 0.2rem .7rem rgba(248, 89, 89, .85);
  position: absolute;
  top: 45%;
  left: 48.5%;
  transform: translate(100%);
  font-size: 2.5rem;
  color: $secondary-color;
  margin-top: 12px;
  text-align: center;
  cursor: pointer;
}

.modalPlus {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear .25s, opacity .25s 0s, transform .25s;

  .modal-contentPlus {
    background-color: $secondary-color;
    position: absolute;
    padding: 20px 40px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      color: $modalH1-color;
      font-weight: 300;
      padding: 30px 0 10px 0;
    }

    div {
      display: flex;
      flex-wrap: wrap;
    }

    img {
      width: 40px;
      margin: 0 30px 20px 0;
    }

    p {
      margin-top: 10px;
    }

    .close-modal {
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 20px;
    }

  }
}


.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity .25s 0s, transform .25s;
}
//einde--=----------------------------------------------------------------------------------------------------------------------------
footer {
  //margin-top: 15px; 
  //height: 70px;
  padding: 20px;
    //margin: -3rem -22rem;  voor center

  p {
    vertical-align: center;
    font-weight: bold;
    color: $navLink-color;
  }
}

//page hobbys and projects
.new-design {
  padding-left: 50px;


  width: 100%;
  height: 50vh;
  background: url("../../images/header5.jpg") no-repeat 100% 100%;
  background-size: cover;
  background-attachment: fixed;

  h1 {
    font-size: 45px;
    color: $sectionH1-color;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  li {
    a {
      color: whitesmoke;
    }
  }

  a:focus, a:hover {
    color: $modalH1-color;
  }
}

header {
  .new-nav {
    flex: 1;
    padding-top: 15px;
  }
}

//hobbys
.hobbys-section {
  margin-top: 4rem;

  .sport {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    text-align: center;

    h2 {
      color: $modalH1-color;
      font-size: 2rem;
    }
  }

  .sport:hover {
    transform: scale(1.2);
    transition: 1s;
  }
}

//single hobby pages , voetbal , freerunnen en fitness
.single-hobbys {
  padding-left: 50px;
  padding-right: 50px;

  h2 {
    color: $modalH1-color;
    font-size: 2rem;
  }
}

//voetbal single styling
.voetbal {
  margin: 6rem 0;
}

//freerunning single styling
.freerunnen {
  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.mySlides {
  display: none;
  height: 100%;
  width: 90%;
  
 
  margin-left: auto;
  margin-right: auto;

}

//projecten page


.projecten {
  margin-top: 1rem;

  h4 {
    font-size: 1.1rem;
    color: $sectionH1-color;
    font-family: 'Roboto Slab', serif;
    padding-top: 2rem;
  }
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  //padding-top: 1rem;
  padding: 1rem;
  text-align: center;

}

/* Create three equal columns that floats next to each other */
.column {
  display: none; /* Hide all elements by default */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column:hover {
  transform: scale(0.90);
  transition: 1s;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

//test
.btn:hover {
  border-radius: 1rem;
  background-color: #ddd;
}

.btn.active {
  background-color: $modalH1-color;
  color: white;
  border-radius: 1rem;
}

//-------------------------------------------------------------------------------------------------------------------------------------------//


//new animation


$delay: 0.015s;
$duration: 0.6s;
$easing: cubic-bezier(0.76, 0, 0.24, 1);


.rolling-text {
  display: inline-block;
  font-family: 'Playfair Display', serif;
  //font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 0.5rem;
  height: 3rem;
  text-decoration: none;
  overflow: hidden;
  color: #1a1a1a;

  &:hover,
  &.play {
    .letter {
      transform: translateY(-100%);
    }
  }

  .block:last-child {
    color: #d3a13b;
  }

  .letter {
    display: inline-block;
    transition: transform $duration $easing;
  }
}

@for $i from 0 through 20 {
  .letter:nth-child(#{$i + 1}) {
    transition-delay: $delay * $i;
  }
}



//
